<div class="profile-card">
  <h2>User Profile</h2>

  <form [formGroup]="profileForm">

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Roles</mat-label>
      <input matInput formControlName="roles">
    </mat-form-field> -->

    <div class="buttons">
      <button *ngIf="!isEditing" type="button" (click)="edit.emit()">Edit</button>
      <button *ngIf="isEditing" type="button" (click)="save.emit()">Save</button>
    </div>

  </form>
</div>
