.container {
  width: 60%;
  margin-top: 80px;
  padding: 30px 30px 10px 30px;
  background: #eeded4cc;
  border-radius: 10px;

  h2{
    text-align: center;
  }
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.text-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
}
.operatinghead{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.day-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
  gap: 10px;

  strong{
    width: 50px;
  }
}

.time-input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  min-width: 120px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
}

.photo-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* makes perfect square container */
  overflow: hidden;
  border-radius: 10px;
  background: #f0f0f0;
}

.photo-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.remove-btn {
  position: relative;
  top: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


button {
  width: 80px;
  display: flex;
 justify-self: center;
 text-align: center;
  padding: 15px;
  background: #2196f3;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}
