.background-container {
  height: 100%; // full screen height
  width: 100%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url('/assets/images/res.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    text-align: center;

    .center-text {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 700;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
      letter-spacing: 1px;
    }
  }
}
