<mat-card class="sidebar-card">
    <mat-action-list class="sidebar-list">
        <!-- <div mat-subheader class="sidebar-header">Menu</div> -->
        <button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/restaurantOwner-dashboard']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <div mat-subheader class="sidebar-header">Home</div>
        </button>
        <button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['profile']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
            <div mat-subheader class="sidebar-header">Profile</div>
        </button>
        <button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['add/edit']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit_square"></mat-icon>
            <div mat-subheader class="sidebar-header">Add/Edit</div>
        </button>
        <button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['restaurant']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="restaurant"></mat-icon>
            <div mat-subheader class="sidebar-header">Restaurant</div>
        </button>
        <button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['review']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="reviews"></mat-icon>
            <div mat-subheader class="sidebar-header">Review</div>
        </button>
        
    </mat-action-list>
</mat-card>
