mat-toolbar{
    background-color: #FF3D00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .example-icon{
      width: 50px;
      height: 50px;
      margin: 0 5px 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FF3D00;
      border: none;
      border-radius: 20px;

     &:hover {
    background-color: #fc521f;
  }
    }

    

    span{
      text-align: center;
      font-size: 20px;
      font-weight: 900;
    }

    .example-spacer {
  flex: 1 1 auto;
}
}