<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/user-dashboard']">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Restaurant Review</span>
  <span class="example-spacer"></span>
  <button *ngIf="userHasNoAdminOrOwnerRole" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="goToProfile()">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"  (click)="onLogoutClick()">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
  </button>
</mat-toolbar>
