/* You can add global styles to this file, and also import other style files */
body{
    background-color: #F5F5F5;
}

.toast-top-right {
  position: fixed !important;
  top: 17px !important;
  right: 12px !important;
}