.userDashBoard {
  height: 70vh; // full screen height
  width: 100%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url('/assets/images/res.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    text-align: center;

    .center-text {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 700;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
      letter-spacing: 1px;
    }

    p{
        color: white;
    }
  }
}

.search-box{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  input{
    // background: #eeded4cc;
    width: 50%;
    padding: 8px;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .searchbutton{
    background-color: #0e0d0d;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resetbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 40px;
    border: none;
    color: white;
    background: #0c0c0c;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 20px;
  }
}

.res-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  padding: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); 
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr); 
  }
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

  .leftarrow{
    background-color: #050505;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .numbtn{
    padding:5px 10px 5px 10px;
    border: 2px solid #080808;
  }

  .rightarrow{
    background-color: #070707;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}


